@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --birutua: #29A4EB;
    --biru: #93BFCF;
    --birucerah: #8CE0FF;
    --birumuda: #93BFCF;
    --black: #1d1c1c;
    --white: #fff;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
        position: fixed;
        top: 0; left: 0; right: 0;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 1rem 3%;
        background-color: rgba(255, 255, 255, 0.8); 
        box-shadow: var(--box-shadow);
    }
    

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--birutua);
}

.header .logo img {
    height: 45px;
    vertical-align: middle;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar {
    display: flex;
    align-items: center;
    margin-left: 75rem;
}

.header .navbar a {
    font-size: 1.2rem;
    margin: 0 0.5rem;
    color: var(--birutua);
}

.header .navbar a:hover {
    color: var(--birumuda);
}

.search {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid var(--birutua);
    background-color: var(--white);
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
    max-width: 300px;
}

#searchInput::placeholder {
    color: #888888;
    font-style: italic;
}

#searchInput:focus {
    border-color: #0056b3;
}

.home {
    height: 100vh;
    background: url('../image/bg.png') no-repeat center center;
    background-size: cover; /* Agar gambar memenuhi seluruh area */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding-top: 7rem;
}

.text-container {
    position: relative;
}

.text-effect {
    font-size: 8rem; /* Ukuran teks */
    color: white; /* Warna teks utama putih */
    font-weight: bold;
    text-align: center;
    position: relative;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8); /* Outline putih transparan mengikuti bentuk huruf */
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2); /* Bayangan untuk teks utama */
}

/* Bayangan teks menggunakan text-shadow */
.text-effect::before {
    content: "FROSTYBITE"; /* Teks yang muncul di belakang */
    position: absolute;
    bottom: 1.5rem; /* Sesuaikan posisi atas dari bayangan */
    right:2rem; /* Sesuaikan posisi kiri dari bayangan */
    z-index: -1; /* Pastikan ini di belakang teks utama */
    color: transparent; /* Warna teks bayangan transparan */
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); /* Outline putih transparan di bayangan */
   
}

